@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

body {
	font-family: "NanumSquareNeo";
	font-size: 14px;
	line-height: 24px;
	color: #333;
}

/* menu */
#menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #000b5150;
	backdrop-filter: blur(10px);

}

#menu li {
	width: 20%;
	text-align: center;
}

#menu li a {
	font-family: "NanumSquareNeo";
	font-weight: bold;
	display: inline-block;
	margin: 20px 0;
	font-size: 20px;
	position: relative;
	color: #fff;
}

#menu li a::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	transform-origin: left;
	transform: scaleX(0);
	transition: 0.7s;
}

#menu li a:hover::before,
#menu li.active a::before {
	transform: scaleX(1);
}

/* text */
h1 {
	font-size: 40px;
	line-height: 50px;
	padding-bottom: 1.5em;
	font-family: "NanumSquareNeo";
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h2 {
	font-size: 25px;
	line-height: 35px;
	padding-bottom: 1em;
}

h3 {
	font-size: 20px;
	line-height: 30px;
	padding-bottom: 0.5em;
}

h6 {
	font-size: 12px;
	line-height: 22px;
	padding-bottom: 0.3em;
}

/* section box */
.section {
	overflow: hidden;
}

/* inner box */
.inner {
	width: 1000px;
	margin: auto;
}

/* 1 */
#section1 {
	background-color: #000b5150;
	text-align: center;
}

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro p {
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	font-family: "NanumSquareNeo";
}

#section1 .inner {
	width: 100%;
	height: 100vh;
	/* 화면 높이 */
	margin: 0;
}

.banner {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.banner img {
	position: absolute;
}


.bg {
	z-index: 1;
}

.light-left {
	z-index: 2;
}

.light-right {
	z-index: 4;
}

.obj {
	z-index: 6;
}

.cha {
	z-index: 3;
}


.door {
	z-index: 99;
}



.banner .bg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.door {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	object-fit: cover;

}

.door.left {
	left: 0;
	animation: openLeft 8s ease-out forwards;
}

.door.right {
	right: 0;
	animation: openRight 8s ease-out forwards;
}

@keyframes openLeft {

	0%,
	20% {
		transform: translateX(0);
	}

	30%,
	100% {
		transform: translateX(-100%);
	}
}

@keyframes openRight {

	0%,
	20% {
		transform: translateX(0);
	}

	30%,
	100% {
		transform: translateX(100%);
	}
}


/* 공통 둥둥 애니메이션 */
@keyframes float {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-20px);
	}

	100% {
		transform: translateY(0);
	}
}

.float {
	animation: float 4s ease-in-out infinite;
}

/* 빛줄기 */
.light {
	opacity: 1;
	width: 100%;
}

.light-left {
	left: 0;
	top: -15%;
	animation-duration: 5s;
}

.light-right {
	right: 0;
	top: 0;
	animation-duration: 6s;
}

/* 오브젝트 */


.obj1 {
	width: 10%;
	left: 40%;
	bottom: 2%;
	animation: obj1 4s ease-in-out infinite;
}

.obj2 {
	width: 10%;
	right: 40%;
	bottom: 25%;
	animation: obj2 6s ease-in-out infinite;
}

.obj3 {
	width: 10%;
	right: 25%;
	bottom: 15%;
	animation: obj3 4s ease-in-out infinite;
}

.obj4 {
	width: 7%;
	right: 8%;
	bottom: 15%;
	animation: obj4 4.5s ease-in-out infinite;
}

.obj5 {
	width: 7%;
	right: 16%;
	bottom: 35%;
	animation: obj5 4.2s ease-in-out infinite;

}

.obj6 {
	width: 6%;
	right: 5%;
	bottom: 50%;
	animation: obj6 4s ease-in-out infinite;
}

.obj7 {
	width: 6%;
	right: 14%;
	bottom: 60%;
	animation: obj7 4.3s ease-in-out infinite;
}



@keyframes obj1 {
	0% {
		transform: translateY(0) rotate(5deg);
	}

	50% {
		transform: translateY(-20px) rotate(-5deg);
	}

	100% {
		transform: translateY(0) rotate(5deg);
	}
}




@keyframes obj2 {
	0% {
		transform: translateY(0) rotate(5deg);
	}

	50% {
		transform: translateY(-20px) rotate(-5deg);
	}

	100% {
		transform: translateY(0) rotate(5deg);
	}
}




@keyframes obj3 {
	0% {
		transform: translateY(0) rotate(-8deg);
	}

	50% {
		transform: translateY(-20px) rotate(8deg);
	}

	100% {
		transform: translateY(0) rotate(-8deg);
	}
}



@keyframes obj4 {
	0% {
		transform: translateY(0) rotate(-2deg);
	}

	50% {
		transform: translateY(-30px) rotate(5deg);
	}

	100% {
		transform: translateY(0) rotate(-2deg);
	}
}


@keyframes obj5 {
	0% {
		transform: translateY(0) rotate(5deg);
	}

	50% {
		transform: translateY(-30px) rotate(-5deg);
	}

	100% {
		transform: translateY(0) rotate(5deg);
	}
}


@keyframes obj6 {
	0% {
		transform: translateY(0) rotate(5deg);
	}

	50% {
		transform: translateY(-20px) rotate(-5deg);
	}

	100% {
		transform: translateY(0) rotate(5deg);
	}
}



@keyframes obj7 {
	0% {
		transform: translateY(0) rotate(5deg);
	}

	50% {
		transform: translateY(-25px) rotate(-5deg);
	}

	100% {
		transform: translateY(0) rotate(5deg);
	}
}




/* 반짝임 */
.twinkle {
	width: 50%;
	z-index: 5;
	top: 5%;
	right: 10%;
	animation: twinkle 4s ease-in-out infinite;
}

@keyframes twinkle {
	0% {
		transform: scale(0.4);
		opacity: 1;
	}

	50% {
		transform: scale(0.5);
		opacity: 0.7;
	}

	100% {
		transform: scale(0.4);
		opacity: 1;
	}
}

.twinkle2 {
	width: 30%;
	z-index: 5;
	bottom: -10%;
	right: 2%;
	animation: twinkle2 5s ease-in-out infinite;
}

@keyframes twinkle2 {
	0% {
		transform: scale(0.4) rotate(30deg);
		opacity: 1;
	}

	50% {
		transform: scale(0.5) rotate(30deg);
		opacity: 0.7;
	}

	100% {
		transform: scale(0.4) rotate(30deg);
		opacity: 1;
	}
}





/* 캐릭터 */

.cha {
	width: 40%;
	left: 0%;
	bottom: -30%;
	animation: cha 10s ease-in-out infinite;
}

@keyframes cha {
	0% {
		transform: translateY(0) rotate(-1deg);
	}

	50% {
		transform: translateY(-50px) rotate(5deg);
	}

	100% {
		transform: translateY(0) rotate(-1deg);
	}
}



/* 메인 텍스트 */

.puzzle-wrap {
	position: relative;
	/* ⭐ 기준 */
	width: 100%;
	max-width: 1920px;
	/* 디자인 기준 사이즈 */
	aspect-ratio: 16 / 9;
	/* 또는 실제 퍼즐 비율 */
	margin: 0 auto;
}





.puzzle {
	position: absolute;
	z-index: 98;
	width: 7%;

	--from-x: 0px;
	--from-y: 0px;
	--from-rot: 0deg;

	--base-rot: 0deg;
	/* ⭐ 최종 기본 각도 */
	--float-rot: 2deg;

	--delay: 0s;

	animation:
		puzzle-enter 1.2s ease-out forwards,
		puzzle-float 5s ease-in-out infinite;

	animation-delay:
		var(--delay),
		calc(var(--delay) + 1.2s);
	opacity: 0;
}


@keyframes puzzle-enter {
	0% {
		transform: translate(var(--from-x), var(--from-y)) rotate(var(--from-rot));
		opacity: 0;
	}

	100% {
		transform: translate(0, 0) rotate(var(--base-rot));
		/* ⭐ */
		opacity: 1;
	}
}

@keyframes puzzle-float {
	0% {
		transform: translateY(0) rotate(var(--base-rot));
	}

	50% {
		transform: translateY(-15px) rotate(calc(var(--base-rot) + var(--float-rot)));
	}

	100% {
		transform: translateY(0) rotate(var(--base-rot));
	}
}




.p1 {
	top: 10%;
	left: 28%;

	--from-x: -300px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: -15deg;
	/* ⭐ 여기 */
	--float-rot: 15deg;

	--delay: 3.2s;
}




.p2 {
	width: 10%;
	top: 20%;
	left: 35.3%;

	--from-x: 0;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: -10deg;
	/* ⭐ 여기 */
	--float-rot: 10deg;

	--delay: 3.5s;
}

.p3 {
	top: 12%;
	left: 43%;

	--from-x: -100px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: -5deg;
	/* ⭐ 여기 */
	--float-rot: 7deg;

	--delay: 4.2s;
}

.p4 {
	width: 10%;
	top: 15%;
	left: 50%;

	--from-x: -100px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 3deg;
	/* ⭐ 여기 */
	--float-rot: -7deg;

	--delay: 2.3s;
}

.p5 {
	width: 7%;
	top: 10%;
	left: 62%;

	--from-x: -100px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 23deg;
	/* ⭐ 여기 */
	--float-rot: -7deg;

	--delay: 3.7s;
}


.p6 {
	width: 9%;
	top: 40%;
	left: 30%;

	--from-x: -100px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 0;
	/* ⭐ 여기 */
	--float-rot: 0;

	--delay: 2.4s;
}

.p7 {
	width: 7.3%;
	top: 37%;
	left: 37.35%;

	--from-x: -100px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 0;
	/* ⭐ 여기 */
	--float-rot: 0;

	--delay: 2.7s;
}

.p8 {
	width: 10.6%;
	top: 40%;
	left: 42.8%;

	--from-x: 50px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 0;
	/* ⭐ 여기 */
	--float-rot: 0;

	--delay: 2.9s;
}

.p9 {
	width: 7.3%;
	top: 37.1%;
	left: 51.5%;

	--from-x: 10px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 0;
	/* ⭐ 여기 */
	--float-rot: 0;

	--delay: 3.2s;
}

.p10 {
	width: 9%;
	top: 32%;
	left: 60%;

	--from-x: 100px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 3deg;
	/* ⭐ 여기 */
	--float-rot: -25deg;

	--delay: 3.4s;
}

.p11 {
	width: 7%;
	top: 52%;
	left: 23%;

	--from-x: -300px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 3deg;
	/* ⭐ 여기 */
	--float-rot: -25deg;

	--delay: 2.9s;
}



.p12 {
	width: 10.4%;
	top: 52.7%;
	left: 35.8%;

	--from-x: -200px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 0;
	/* ⭐ 여기 */
	--float-rot: 0;

	--delay: 3.6s;
}

.p13 {
	width: 7.1%;
	top: 49.9%;
	left: 44.5%;

	--from-x: -50px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 0;
	/* ⭐ 여기 */
	--float-rot: 0;

	--delay: 3.8s;
}

.p14 {
	width: 10.5%;
	top: 52.7%;
	left: 49.9%;

	--from-x: 50px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 0;
	/* ⭐ 여기 */
	--float-rot: 0;

	--delay: 4s;

}

.p15 {
	width: 7.2%;
	top: 49.8%;
	left: 58.6%;

	--from-x: 100px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 0;
	/* ⭐ 여기 */
	--float-rot: 0;

	--delay: 4.2s;
}

.p16 {
	width: 8.7%;
	top: 65.5%;
	left: 30.3%;

	--from-x: -150px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 0;
	/* ⭐ 여기 */
	--float-rot: 0;

	--delay: 4.4s;
}

.p17 {
	width: 7.25%;
	top: 62.5%;
	left: 37.4%;

	--from-x: -100px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 0;
	/* ⭐ 여기 */
	--float-rot: 0;

	--delay: 4.6s;
}

.p18 {
	width: 10.6%;
	top: 65.35%;
	left: 42.9%;

	--from-x: -50px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 0;
	/* ⭐ 여기 */
	--float-rot: 0;

	--delay: 4.8s;
}

.p19 {
	width: 7.3%;
	top: 62.4%;
	left: 51.6%;

	--from-x: 0;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 0;
	/* ⭐ 여기 */
	--float-rot: 0;

	--delay: 5s;
}

.p20 {
	width: 8.75%;
	top: 65.4%;
	left: 57.1%;

	--from-x: 100px;
	--from-y: -200px;
	--from-rot: -20deg;

	--base-rot: 0;
	/* ⭐ 여기 */
	--float-rot: 0;

	--delay: 5.2s;
}

.p21 {
	width: 7%;
	top: 83%;
	left: 22%;

	--from-x: -150px;
	--from-y: 200px;
	--from-rot: -20deg;

	--base-rot: 17deg;
	/* ⭐ 여기 */
	--float-rot: -3deg;

	--delay: 4.2s;
}

.p22 {
	width: 10.2%;
	top: 85.5%;
	left: 31%;

	--from-x: -100px;
	--from-y: 200px;
	--from-rot: -20deg;

	--base-rot: 13deg;
	/* ⭐ 여기 */
	--float-rot: -7deg;

	--delay: 3.7s;
}

.p23 {
	width: 7.5%;
	top: 83%;
	left: 42%;

	--from-x: -50px;
	--from-y: 200px;
	--from-rot: -20deg;

	--base-rot: 2deg;
	/* ⭐ 여기 */
	--float-rot: -17deg;

	--delay: 3.2s;
}

.p24 {
	width: 10.5%;
	top: 86%;
	left: 51%;

	--from-x: 0;
	--from-y: 200px;
	--from-rot: -20deg;

	--base-rot: -2deg;
	/* ⭐ 여기 */
	--float-rot: 12deg;

	--delay: 4.9s;
}

.p25 {
	width: 7%;
	top: 82%;
	left: 60%;

	--from-x: 20px;
	--from-y: 200px;
	--from-rot: -20deg;

	--base-rot: 7deg;
	/* ⭐ 여기 */
	--float-rot: -10deg;

	--delay: 5.2s;
}









/* 2 */
#section2 {
	background: linear-gradient(to bottom, #b1cce1 0%, #ffffff 55%);
}

.fp-controlArrow.fp-prev {
	left: calc(50% - 600px);
	top: calc(50% - -50px);
}

.fp-controlArrow.fp-next {
	right: calc(50% - 600px);
	top: calc(50% - -50px);
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 20px 0;
}

.portfolio li {
	width: 32%;
	text-align: center;
	box-shadow: 3px 3px 10px #000b5150;
	border-radius: 20px;
	transition: 0.7s;
	overflow: hidden;
	aspect-ratio: 4 / 3.3;
	position: relative;
}

.s2_menu:hover img {
	background-color: rgba(255, 255, 255, 0.5);
	transform: scale(1.1);
	opacity: 0.5;
	transition: 0.7s;
}

.portfolio img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.7s;
}

.s2_slide_box {
	position: absolute;
	top: 300px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	padding: 20px 0;
	background-color: #0000007e;
	transition: all 0.5s ease;
}

.portfolio li:hover .s2_slide_box {
	transform: translateY(-110px);
	transition: all 0.5s ease;
}


.portfolio li.c_box {
	box-shadow: none;
}

.img-box {
	position: relative;
	width: 100%;
	overflow: hidden;
	aspect-ratio: 4 / 3.3;
}

/* 첫 번째 이미지는 레이아웃용 */
.img-box img:first-child {
	position: relative;
	opacity: 1;
}

/* 모든 이미지 공통 */
.img-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}

/* 애니메이션 적용 대상 */
.img-box img:not(:first-child) {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	animation: imgFade 6s infinite;
}

.img-box img:nth-child(1) {
	animation-delay: 0s;
}

.img-box img:nth-child(2) {
	animation-delay: 3s;

}

@keyframes imgFade {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	40% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}



/* 3 */
#section3 {
	background: linear-gradient(to bottom, #fff 0%, #b1cce1 55%);
}

.art {
	display: flex;
	justify-content: space-between;


}

.art li {
	width: 30%;
	transition: 0.7s;
	box-shadow: 0 0 3px #000b5150;
	position: relative;
	border-radius: 20px;
	overflow: hidden;

}

.art li h3 {
	text-align: center;
	padding-top: 25px;
}




.art li img {
	display: block;
	width: 100%;
	cursor: pointer;
	transition: all 0.5s ease;
}

.slide_box {

	position: absolute;
	top: 300px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	padding: 20px 0;
	background-color: #0000007e;
	transition: all 0.5s ease;
}

.art li:hover .slide_box {
	transform: translateY(-60px);
	transition: all 0.5s ease;
}

.art li:hover img {
	transform: scale(1.1);
	opacity: 0.5;
	transition: all 0.5s ease;
}


/* 4 */
#section4 {
	background: #e4e4e4;
}

#section4 .fp-tableCell {
	display: block;
}

#section4 .inner {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.my {
	width: 50%;
	height: 100%;
	object-fit: cover;
}

.about {
	width: 50%;
	text-align: center;
}


/* 5 */
#section5 {
	background: linear-gradient(to bottom, #e4e4e4 0%, #ffffff 70%);
}

#section5 .inner h1:nth-of-type(2) {
	padding-top: 2em;
}

.resume {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.resume li {
	width: 31%;
	background-color: #fff;
	padding: 3em;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	box-sizing: border-box;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	background-color: #fff;
	padding: 3em;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}

.our-skill-area {
	position: relative;
}

.skill {}


.test-overly {
	/* background: rgba(0, 0, 0, 0.80); */
	position: absolute;
	width: 100%;
	height: 100%;
}

.progress-h4 {
	color: #1A1A1A;
	font-size: 20px;
	font-weight: 400;
	margin-top: -90px;
	margin-bottom: 50px;
}

#skill.area-padding {
	padding-top: 0;
}



/* 6 */
#section6 {
	background-color: #fff;
	text-align: center;
}

.myContent {
	height: 100px;
	position: relative;
}

.myContent p {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* popup */
.popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	display: none;
}

.popup>p {
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 35px;
	color: #fff;
	font-size: 2rem;
	cursor: pointer;
}

.popup>div {
	width: 80%;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	max-width: 1920px;
}

.popup img {
	width: 70%;
	display: block;
}

.popup ul {
	margin: 0;
	padding: 30px;
	width: 30%;
	box-sizing: border-box;
	background-color: #fff;
	color: #222;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popup h5 {
	font-size: 20px;
	padding-bottom: 10px;
	color: #222;
	font-weight: bold;
}

/* animation */
@keyframes left {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes right {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes bottom {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

.fp-viewing-anchor2-0 .portfolio,
.fp-viewing-anchor2-1 .portfolio,
.fp-viewing-anchor3 .art,
.fp-viewing-anchor5 .resume,
.fp-viewing-anchor5 .skills {
	animation: bottom 1s 0.3s both;
}

.fp-viewing-anchor1 .intro .intro_text {
	animation: right 1s 0.6s both;
}

.fp-viewing-anchor4 #section4 img {
	animation: left 1s 0.3s both;
}

.fp-viewing-anchor4 #section4 .about {
	animation: right 1s 0.6s both;
}

/* 1300px 이하 */
@media (max-width:1300px) {
	.fp-controlArrow.fp-prev {
		border-width: 20px 18px 20px 0;
		left: calc(50% - 490px);
		top: calc(50% - -80px);
		border-color: transparent #747474 transparent transparent;
	}

	.fp-controlArrow.fp-next {
		border-width: 20px 0 20px 18px;
		right: calc(50% - 490px);
		top: calc(50% - -80px);
		border-color: transparent transparent transparent #747474;
	}




}

/* 1100px 이하 */
@media (max-width:1100px) {
	.inner {
		width: 90%;
	}


	#section1 {
		height: auto !important;
	}

	.float, .obj, .twinkle, .twinkle2, .cha{
		display: none;
	}


	#section2,
	#section3,
	#section4 #section5,
	.fp-tableCell {
		height: auto !important;
	}

	#section1,
	#section2,
	#section3,
	#section4,
	#section5 {
		padding: 5em 0;
	}

	.fp-tableCell {
		padding-bottom: 10px;
	}

	.fp-controlArrow.fp-prev {
		left: 7%;
		top: 62%;
		border-color: transparent #747474 transparent transparent;
	}

	.fp-controlArrow.fp-next {
		right: 7%;
		top: 62%;
		border-color: transparent transparent transparent #747474;
	}




}

/* 899px 이하 */
@media (max-width:899px) {
	#menu li {
		width: 25%;
	}

	.intro h1 {
		padding: 1em 0 1em;
	}

	.portfolio li {
		width: 48%;
	}

	.portfolio_text,
	.about_text {
		width: 100%;
	}

	.fp-controlArrow.fp-prev,
	.fp-controlArrow.fp-next {
		top: 60%;
	}

	.resume {
		gap: 20px 0;
	}

	.resume li {
		width: 49%;
	}

	.skills img {
		width: 10%;
	}
}

/* 749px 이하 */
@media (max-width:749px) {
	.art {
		flex-direction: column;
		gap: 20px;
	}

	.art li {
		width: 100%;
	}

	.art li img {
		width: 100%;
	}

	.popup div {
		display: block;
	}

	.popup img,
	.popup ul {
		width: 100%;
	}

	.popup ul li:nth-child(1) {
		padding-bottom: 10px;
	}

	#section4 .inner {
		flex-direction: column;
		gap: 30px 0;
	}

	.my {
		width: 70%;
	}

	.skills {
		padding: 2em;
		justify-content: flex-start;
		gap: 10px calc(10% / 5);
	}

	.skills img {
		width: 15%;
	}
}

/* 599px 이하 */
@media (max-width:599px) {
	#menu {
		width: 100%;
	}

	.resume li {
		width: 100%;
	}

	.skills {
		gap: 10px calc(10% / 4);
	}

	.skills img {
		width: 18%;
	}






	
}

/* 499px 이하 */
@media (max-width:499px) {
	.skills {
		gap: 10px calc(10% / 2);
	}

	.skills img {
		width: 30%;
	}

	
}


/* 374px 이하 */
@media (max-width: 374px) {
	.popup ul {
		padding: 20px;
	}


}